.rounded-circle {
  width: 100px;
  border: 4px solid #2D6A4F;
  border-radius: 25%;
}

.acindar-logo {
  width: 15%;
  height: 16vh;
  background: url("../img/brands/acindar-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.acindar-logo:hover {
  background: url("../img/brands/acindar-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bayer-logo {
  width: 15%;
  height: 16vh;
  background: url("../img/brands/bayer-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.bayer-logo:hover {
  background: url("../img/brands/bayer-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.femsa-logo {
  width: 15%;
  height: 16vh;
  background: url("../img/brands/femsa-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.femsa-logo:hover {
  background: url("../img/brands/femsa-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nestle-logo {
  width: 15%;
  height: 16vh;
  background: url("../img/brands/nestle-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.nestle-logo:hover {
  background: url("../img/brands/nestle-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cargill-logo {
  background: url("../img/brands/cargill-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.cargill-logo:hover {
  background: url("../img/brands/cargill-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.panam-logo {
  background: url("../img/brands/panam-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.panam-logo:hover {
  background: url("../img/brands/panam-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mondelez-logo {
  background: url("../img/brands/mondelez-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.mondelez-logo:hover {
  background: url("../img/brands/mondelez-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.clorox-logo {
  background: url("../img/brands/clorox-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.clorox-logo:hover {
  background: url("../img/brands/clorox-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.symrise-logo {
  background: url("../img/brands/symrise-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.symrise-logo:hover {
  background: url("../img/brands/symrise-logo-after.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

