footer {
  background: $primary;
}

.custom-logo-footer {
  color: white;
  text-decoration: none;
  transition: 800ms;

  &:hover {
    color: antiquewhite;
    text-decoration: none;
  }
}

.custom-text-footer {
  color: #C2C2C2;
  font-size: 1.5vh;
  padding-right: 10%;
}

.custom-social-media {
  position: relative;
  top: 3vh;
  font-size: 3vh;
  color: $section-light;
  transition: 800ms;

  &:hover {
    transform: scale(1.1);
    color: antiquewhite;
    cursor: pointer ;
  }
}

.custom-cr {
  background-color: red;
} 