#hero {
  height: 100vh;
  background: url("../img/hero-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#hero h1 {
  font-size: 60px;
  font-weight: 700;
  color: #95D5B2;
}

#hero-rest {
  height: 40vh;
  background: rgb(64,145,108);
  background: linear-gradient(90deg, rgba(64,145,108,1) 18%, rgba(101,187,147,1) 57%, rgba(141,205,176,1) 87%);
}

.hero-text-alternative {
  position: relative;
  top: 5vh;
  font-size: 8vh;
  color: white;
}
