@media (max-width: 992px) {
  #clients-logos {
    display: none;
  }

  .custom-service-image {
    display: none;
  }

  .custom-gallery:hover {
  filter: blur(0);
  cursor: pointer;
  }

  .custom-gallery {
    pointer-events: none;
  }
}
