nav {
  margin: 0 auto;
  background: white;
  border-bottom: 1px solid $secondary;


  ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
     
      a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 10px;
        transition: all .8s;
        position: relative;        


        &:after { 
          transition: all .8s;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '';
          color: transparent;
          background: $secondary;
          height: 2px;
        }

        &:before {
          transition: all .8s;
        }

        &:hover {
          color: $secondary;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}

.nav-link:hover {
  transform: scale(1);
}

.custom-logo {
  position: relative;
  margin-top: 1vh;
  color: $primary;
  text-decoration: none;
  transition-duration: 800ms;

  &:hover {
    color: $primary-hover;
  }
}
