.custom-navbar {
  background-color: $section-light;

  .nav-item > a {
    color: $green;
    font-size: 14px;      
    }

  .nav-item > a:hover {
    transform: none;
    color: $green-hover;
  }
}

.custom-logo {
  position: relative;
  margin-top: 1vh;
  color: $green;
  text-decoration: none;
  transition-duration: 800ms;

  &:hover {
    color: $green-hover;
  }
}
