.btn-success {
  background-color: $green;
  border: none;
  transition: 600ms;

  &:hover {
    background-color: $green-hover;
    border: none;
  }

  &:focus {
    background-color: $green;
  }
}

