.custom-mt {
  margin-top: 4vh;
}

.custom-black-bg {
  background: rgba(0,0,0, 0.8);
  overflow: hidden;
}

.custom-gallery {
  transition: 0.5s;

  &:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(90%);
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
    cursor: pointer;
  }
}

.modal.show .modal-dialog{
  width: 90vh;
}

.modal-body {
  img {
    max-width: 100%;
  }
}